; begin auth token
//pkgs.dev.azure.com/ecommerce/_packaging/CatalystFeed/npm/registry/:username=ecommerce
//pkgs.dev.azure.com/ecommerce/_packaging/CatalystFeed/npm/registry/:email=techman@ecommerce.com
//pkgs.dev.azure.com/ecommerce/_packaging/CatalystFeed/npm/:username=ecommerce
//pkgs.dev.azure.com/ecommerce/_packaging/CatalystFeed/npm/:email=techman@ecommerce.com
; end auth token

@ecommerce:registry=https://pkgs.dev.azure.com/ecommerce/_packaging/CatalystFeed/npm/registry/
registry=https://registry.npmjs.org/
                        
always-auth=false
