.contact-us-container {
    min-height: 60vh;
    overflow: auto;
    padding: 3em 13%;
    .pp-header {
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 1.5em;
    }
    .pp-normal-label {font-size: 13px;text-align: center;}
    .card-contact {
        border-top: 7px solid #00CDFF;
        border-radius: 9px;
        background: #f2f2f2;
        padding: 3em;
        height: 308px;
        text-align: center;

        .cc-title {
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 1em;
        }

        .cc-label {
            margin: 7px;
        }
    }
}

.mb-1p {margin-bottom: 1.5em;}
.bold { font-weight: 600;}
.center { text-align: center;;}