<div class="contact-us-container">
    <!---->
    <div class="pp-header">Contact ecommerce</div>
    <div class="pp-normal-label">Due to current COVID-19 restrictions in the Philippines, ecommerce Service Technicians can only attend to essential service calls in line with the respective government’s public health orders.
    </div>
    <div class="pp-normal-label">Our Customer Care team are ready to take your call however, please bear in mind that wait times maybe be a little longer than usual due to increased demand.
    </div>
    <div class="pp-normal-label" style="margin-top: 3em;">Operating Hours: From Monday to Saturday, 8:00am to 5:00pm
    </div>

    <!---->
    <div class="" style="padding: 0 11%%; padding-bottom: 4em;border-bottom: 3px solid #00CDFF;margin-top: 1.5em;width: 100%;">
        <dic fxLayout="row"  fxLayoutAlign="center start">
            <div fxFlex class="card-contact" style="margin-right: 2em;" fxLayout="column">
                    <div class="cc-title">Technical Support & Spare Parts</div>
                    <div class="cc-label">
                        <span class="bold">Training: </span>
                        <span class="text-primary">assd_training@ecommerce.com.ph</span>
                    </div>
                    <div class="cc-label">
                        <span class="bold">Customer Support: </span>
                        <span class="text-primary">assd_cs@ecommerce.com.ph</span>
                    </div>
                    <div class="cc-label">
                        <span class="bold">Spare Parts: </span>
                        <span class="text-primary">assd_spsales@ecommerce.com.ph</span>
                    </div>
            </div>
            <div fxFlex class="card-contact" fxLayout="column">
                <div class="cc-title">General Enquiries</div>
                <div class="bold text-primary">customercare@ecommerce.com.ph</div>
                <div class="cc-label">
                    <div fxLayout="row">
                        <div fxFlex></div>
                        <div class="material-icons">call</div>
                        <div class="">(02) 5318-6800 Local 3101-3109</div>
                        <div fxFlex></div>
                   </div>
                </div>
                <div class="bold" style="margin-bottom: 1em;">For Metro Manila</div>
                <div class="cc-label">
                   <div fxLayout="row">
                        <div fxFlex></div>
                        <div class="material-icons">call</div>
                        <div class="">0917-111-6800</div>
                        <div fxFlex></div>
                   </div>
                </div>
                <div class="bold" style="margin-bottom: 1em;">For Globe subscribers Nationwide</div>
                <div class="">NOTE: *For CALLS ONLY (No SMS)</div>
            </div>
        </dic>
    </div>
</div>