<div class="faq-container">
    <!---->
    <div class="pp-header">FREQUENTLY ASKED QUESTIONS</div>
    <ngb-accordion [closeOthers]="true" activeIds="static-0">
      <ngb-panel id="statis-1">
        <ng-template ngbPanelTitle>
           <div class="pnl-title">How can I request service? </div>
        </ng-template>
        <ng-template ngbPanelContent>
          To request/ book a service, you may send an email at <u><a style='color:#1e8acd'>customercare@ecommerce.com.ph</a></u> or call us at 2-53186800 local 3101 or 3104 Our team will be glad to assist you on your concern. 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-2">
        <ng-template ngbPanelTitle>
           <div class="pnl-title">I have a Project, Where can I request a quotation? </div>
        </ng-template>
        <ng-template ngbPanelContent>
          To request quotation for your project, you may send an email at <u><a style='color:#1e8acd'>customercare@ecommerce.com.ph</a></u>,  our team will be glad to assist you on your concern. 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-3">
        <ng-template ngbPanelTitle>
           <div class="pnl-title">How many years and which parts are covered under warranty? </div>
        </ng-template>
        <ng-template ngbPanelContent>
          We have 5 years warranty on the compressor, 1 year on parts and services, and 3 years warranty for PCB for the following models shown on the table below: 

          <div class="tech-table-cont">
            <table class="tech-table">
              <tr>
                <td class="blue-td">Eco-King Inverter Series</td>
                <td class="blue-td">Model</td>
                <td class="blue-td">HP</td>
                <td class="blue-td">Operating Range</td>
                <td class="blue-td">Origin</td>
              </tr>
              <tr>
                <td>D-Smart</td>
                <td >FTKQ-TVM <hr>
                  FTKF-BVL (DEALER)/
                  FTKF-AVL (MHA) 
                </td>
                <td>0.8 -2.5 HP <hr>
                  0.8-2.5HP </td>
                <td>150V-264V <hr>
                  168-264 V </td>
                <td>Thailand <hr>
                  Malaysia </td>
              </tr>
              <tr>
                <td>D-Smart Queen</td>
                <td>FTKC-AVA <hr>
                  FTKC-TVM </td>
                <td>1.0 -3.0 HP <hr>
                  0.8 – 3.0 H</td>
                <td>150V-264V <hr>
                  150V-264V </td>
                <td>Malaysia <hr>
                  Thailand </td>
              </tr>
              <tr>
                <td>D-Smart King</td>
                <td>FTKZ-WVM <hr>
                  FTKM-TVM</td>
                <td>1.0 - 3.0 HP <hr>
                  1.0 - 3.0 HP  </td>
                <td>130V-264V <hr>
                  130V-264V</td>
                <td>Thailand <hr>
                  Thailand </td>
              </tr>
            </table>
          </div>
        </ng-template>
        
      </ngb-panel>
      <ngb-panel id="statis-4">
        <ng-template ngbPanelTitle>
          What is the difference between D-Smart, D-Smart Queen, and D-Smart King? 
        </ng-template>
        <ng-template ngbPanelContent>
           <p>Our Eco King Series has 3 split-type inverter models with CSPF energy efficiency ratings that vary, D-Smart our standard efficiency model, D-Smart Queen our high-efficiency model & D-Smart King our premium efficiency model. 
          </p>
           <p>Please check this link <u><a href="https://www.ecommerce.com.ph/products/room-air/" target="_blank" style='color:#1e8acd'>https://www.ecommerce.com.ph/products/room-air/</a></u> to view the detailed product specs.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-5">
        <ng-template ngbPanelTitle>
          What is the difference between Inverter vs. Non-Inverter? 
          </ng-template>
        <ng-template ngbPanelContent>
          <p>The difference is inverter aircon costs more than non-inverters but are inherently more energy-efficient and will help you save on your monthly bills.</p>
          <p> While the inverter aircon is the better investment and the more reliable choice in terms of energy efficiecy, the non-inverter aircon is much more accessible, especially for those who won’t be using the air conditioner too often.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-6">
        <ng-template ngbPanelTitle>
          What kind of Air Purifier do you have? 
          </ng-template>
        <ng-template ngbPanelContent>
           <p>Thank you for getting in touch with us. </p>
           <p>Our ecommerce Air Purifiers are equipped with the Double Method technologies to ensure that you breathe clean and healthy air. Double method includes Active Plasma Ion and Streamer Technology. The Active Plasma discharges positive and negative ions to purify the air that  eliminates germs, fungus, allergens, odor, and bacteria. While ecommerce Streamer Technology decomposes harmful substances inside the unit. </p>
           <p>We have five types of Air Purifier to choose from: </p>
           <div>Standard Air Purifier 30 Type MC30VVM-H – up to 21 sqm  </div>
           <div>Streamer Air Purifier 30 Type MC30YVM7 – up to 23.5 sqm  </div>
           <div>Streamer Air Purifier 40 Type MC40UVM6-7 - up to 31 sqm </div>
           <div>Streamer Air Purifier 55 Type MC55UVM6-7 - up to 41 sqm </div>
           <div>Streamer Air Purifier 55 with Double Method Type MC55UVM6-7 - up to 41 sqm </div>
           <div>Streamer Air Purifier Humidifying 55 with Double Method Type MCK55TVM6 - up to 41 sqm</div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-7">
        <ng-template ngbPanelTitle>
          Is it okay to have the AC running 24/7? Is it more efficient? 
          </ng-template>
        <ng-template ngbPanelContent>
          You may use it as long as you desired. However, the savings will depend, for example, if there is no one using it but the unit is ON, it is still better to turn it off because you will save more on having no consumption at all than having just low consumption. This applies to conditions wherein there is a big interval between the last usage and the next usage of your AC. 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-8">
        <ng-template ngbPanelTitle>
          Which is better? Window type or split type aircon? 
          </ng-template>
        <ng-template ngbPanelContent>
          Both unit types have their own advantage and disadvantages. A window type is easier to install, cheaper, and requires less maintenance but they tend to be noisier, and especially slower to cool than a split-type aircon & not energy efficient due higher electricity bill. In most cases, the energy efficiency ratio of the split AC is higher than the window AC. Therefore, split AC is more energy-efficient than window AC. Also, A split-type AC provides you with various convenient control options.  
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-9">
        <ng-template ngbPanelTitle>
          What is the Power Consumption? 
          </ng-template>
        <ng-template ngbPanelContent>
          You may check the power consumption of each product on this link: <u><a href="https://ecommerce.com.ph/products/room-air/" target="_blank" style='color:#1e8acd'>https://ecommerce.com.ph/products/room-air/ </a></u>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-10">
        <ng-template ngbPanelTitle>
          Can i buy ecommerce Products on Shopee and Lazada? 
          </ng-template>
        <ng-template ngbPanelContent>
          Thanks for reaching out. ecommerce aircon units sold in Shopee or Lazada may or may not be from ecommerce authorized dealers. We recommend you to contact our authorized dealers to ensure proper installation of the unit and avail of the warranty. You may check the nearest dealers in your area here: <a href="https://ecommerce.com.ph/dealers/ " target="_blank" style='color:#000000'>https://ecommerce.com.ph/dealers/ </a>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-11">
        <ng-template ngbPanelTitle>
          How can I apply as an accredited dealer? 
          </ng-template>
        <ng-template ngbPanelContent>
          Thank you for your interest in being part of the ecommerce team. For the new dealer registration, you may register thru this link website <u><a href="https://www.ecommerce.com.ph/new-dealer-registration/" target="_blank" style='color:#1e8acd'>https://www.ecommerce.com.ph/new-dealer-registration/</a></u> They will assist you from there regarding the requirements and other procedures. Thank you. Have a great day! 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-12">
        <ng-template ngbPanelTitle>
          How can I apply as an accredited service center/installer? 
          </ng-template>
        <ng-template ngbPanelContent>
          Thank you for your interest in being part of the ecommerce team. For the service center/installer accreditation, you may register thru our website <u><a href="https://www.ecommerce.com.ph/ecommerce-installer-network/" target="_blank" style='color:#1e8acd'>https://www.ecommerce.com.ph/ecommerce-installer-network/</a></u>. They will assist you from there regarding the requirements and other procedures. Thank you. Have a great day! 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-13">
        <ng-template ngbPanelTitle>
          How can I locate the nearest ecommerce authorized dealer? 
          </ng-template>
        <ng-template ngbPanelContent>
          You may get in touch with our authorized dealers near your area, please check here: <u><a href="https://ecommerce.com.ph/dealers/" target="_blank" style='color:#1e8acd'>https://ecommerce.com.ph/dealers/</a></u>.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-14">
        <ng-template ngbPanelTitle>
          I have a specific model in my mind, where can I get more details 
          </ng-template>
        <ng-template ngbPanelContent>
          You may check the details and features of each product on this link: <u><a href="https://www.ecommerce.com.ph/products/" target="_blank" style='color:#1e8acd'>https://www.ecommerce.com.ph/products/</a></u>.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-15">
        <ng-template ngbPanelTitle>
          Where do you manufacture ecommerce’s Product?  
          </ng-template>
        <ng-template ngbPanelContent>
          Our Manufacturers are overseas we are only affiliated with our manufacturers in Thailand, Malaysia Singapore, Korea, China, and Japan. Our products go through rigorous testing to ensure you get the quality you deserve. 
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-16">
        <ng-template ngbPanelTitle>
          Do you accept item replacements?   
          </ng-template>
        <ng-template ngbPanelContent>
         <div>For any replacement concerns, kindly send an email to customercare@ecommerce.com.ph. Our dedicated customer care staff will get back to you within 24 hours. Please refer to below general item replacement conditions:  </div> 
         <br>
          <b><p> General Conditions: </p></b>
          <br>
          <p>1). Replacement or return of products due to a change of mind is not allowed.</p>
          <p>2). Only defective products can be returned or exchanged. If the product is deemed defective,kindly send an email to customercare@ecommerce.com.ph or call our customer care hotline at (02) 5318-6800 Local 3101-3109 / for Globe subscribers Nationwide - 0917-111-6800 and a Customer Service Representative will get in touch with you to investigate and provide you with instructions on the matter.</p>
          <p>3). Returns will only be allowed if the product is proven to be: defective, the wrong item, or damaged.</p>
          <p>4). Under the IRR (Implementing Rules and Regulations) of R.A. 7394, The Consumer Act of the Philippines, a change of mind on the part of the customer does not entitle you to a refund or exchange.</p>
          <p>5). The prohibition of the "No Return, No Exchange" does not apply if the product bought delivered is in perfect condition or has no defect</p>
          <br><br>
          <p>Please present the following requirements for return or exchange: </p>
          <br>
          <p>1). Original proof of receipt from the Authorized dealer or ecommerce Philippines.  </p>
          <p>2). Original package and parts intact  </p>
          <p>3). For merchandise returns that do not meet the general return or exchange conditions, store accepts such returns within seven (7) days upon purchase as a gesture of goodwill, provided that the item being returned is complete and in its original and resalable condition. </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="statis-17">
        <ng-template ngbPanelTitle>
          What items are covered under warranty?  
          </ng-template>
        <ng-template ngbPanelContent>
          Certain products are with warranty provided by the dealer. For warranty related queries, please email assd_cs@ecommerce.com.ph.
        </ng-template>
      </ngb-panel>
        <!-- <ng-container *ngFor="let faq of faqDetails">
            <ngb-panel id="statis-{{faq.id}}">
                <ng-template ngbPanelTitle>
                    {{faq.title}}
                  </ng-template>
              <ng-template ngbPanelContent>
                {{faq.content}} 
              </ng-template>
            </ngb-panel>
        </ng-container> -->
      </ngb-accordion>
    <!---->
</div>