@import "../../../assets/sass/ecommerce-global-variable.scss";

.store-details-container {
    
    .store-header {
        padding: 1em;
        border-bottom: 1px solid #E5EAEE;
    }

    
    .store-title {
        font-size: 15px;
        font-weight: 500;
    }
    
    .store-container {
        padding: 2em;
        overflow: auto;
        height: 75vh;

        .node-button-header {
            margin-bottom: 2em;

            .node-btn-title {
                margin: auto;
                font-size: 14px;
                font-weight: 400;
            }
        }

        img.img-floor-plan {
            width: 100%;
        }
    }

    .store-footer {
        padding: 1em;
    }

    .store-subtitle {
        font-size: 14px;
        font-weight: 500;
    }

    .store-label {
        font-size: 11px;
        color: #959CB6;
        margin-bottom: 1.5em;
    }

    .btn-reset {
        min-width: 0;
        padding: 7px;
        line-height: 0;
    }

}

.btn-gray {background: #979797; color: white;}
.btn-graY:hover { opacity: 0.8;}
.pointer { cursor: pointer;}
.btn {font-family: 'Poppins';}
.mr-3 { margin-right: 3px;}
.ml-3 { margin-left: 3px;}
.mr-1 { margin-right: 1em;}
.margin-auto { margin: auto}
.mt-2em {margin-top: 2em}
.full-width { width: 100%}
.store-form-field {margin-bottom: 1em;}

//---- 360 CSS
::ng-deep.psv-panel--open {z-index: 100;}
::ng-deep.psv-panel-resizer{display: none !important;}
::ng-deep.psv-panel-close-button {
    top: 0;
    right: 22px;
    left: auto;
}
::ng-deep.psv-panel.psv-panel--open {
    background: rgba(255, 255, 255, 0.9);
    color: black !important;
    left: 5%;
    height: 69%;
    bottom: 40px;
    width: 40%;
    border-radius: 3% 3% 0 0;
}

::ng-deep.psv-panel-content {
    color: black;
}

//store - css manipulation

::ng-deep.psv-store {
    background-position-y: bottom;
    background-position-x: center;
}

::ng-deep.psv-store:hover {
    border: 4px solid rgba(37, 183, 211, 0.5);
    border-radius: 50%;
    transition: 0.3s;
}

.nav-image { 
    width: 12vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.uploading-container {
    margin-bottom: 1em;
}


// ::ng-deep.store-form-field .mat-select-container {
//     background-color: #EEF1F5;
//     border-color: #EEF1F5;
//     // height: 43px !important;
//     font-weight: 400 !important;
//     line-height: 20.42px !important;
//     border-radius: 10px !important; 
//   }

//   ::ng-deep.mat-select-value {
//     height: 43px !important;
//   }

//   ::ng-deep.mat-select-value-text {
//     height: 43px !important;
//   }

//responsesive ------------------------------------
//portrait --

//small screen

::ng-deep {
    @media (max-width: 385px) and (orientation : portrait)  {
        .mat-dialog-container {zoom: 63%;}
      
    }
    
    //medium screen
    @media (max-width: 613px) and (orientation : portrait)  {
        .mat-dialog-container {zoom: 63%;}
       
    }
}


//landscape --

::ng-deep {
    
    @media (max-height: 536px) and (orientation : landscape)  {
        .mat-dialog-container {zoom: 63%;}
    }

}
