<div class="privacy-policy-container">
    <!---->
    <div class="pp-header">PRIVACY POLICY</div>
    <!---->
    <div class="pp-normal-label">
        ecommerce Philippines Inc. (hereinafter, “ecommerce”, “we”, “us” etc.), together with our affiliates, is sincerely committed to ethical behavior and compliance with laws, rules, and regulations, and we also consider the protection of personal information – a valuable asset entrusted to us – as our social responsibility, therefore, hereby we set forth this Privacy Policy. 
    <div class="pp-normal-label">
        We, ecommerce Philippines Inc. respect your privacy and recognize your need for appropriate protection and management of the personal data that you have directly and voluntarily entrusted us. We have developed this Privacy Policy to protect your personal data by the Data Privacy Act of 2012 (DPA), its Implementing Rules and Regulations (IRR), and other issuances of the National Privacy Commission (NPC), and other relevant laws of the Philippines.     </div>
    </div>
    <div class="pp-header-label">
        What type of personal data do we collect?     
    </div>
    <div class="pp-normal-label">
        1. The types of personal data that we will collect from you depend on the particular purpose and/or position for which you are applying. We collect, store, and process personal data only upon the affirmative consent of the data subject and in accordance with existing laws and regulations including the Company’s internal policies and procedures.
    </div>
    <div class="pp-normal-label">For this purpose, we may collect the following: </div>
    <div class="pp-indented-label">
        <div class="pp-normal-label">a. Basic personal information such as full name, nickname, home addresses/billing address/shipping address, e-mail address, employment information, telephone, other personal contact numbers, username, and password;</div>
        <div class="pp-normal-label">b. Sensitive personal information such as date of birth, age, occupation, and gender; and,</div>
        <div class="pp-normal-label">c. Other sensitive personal information and records such as, but are not limited to, the following:</div>
        <div class="pp-indented-label">
            <div class="pp-normal-label">a. Photo</div>
            <div class="pp-normal-label">b. Educational background</div>
            <div class="pp-normal-label">c. Employment record</div>
            <div class="pp-normal-label">d. Family background</div>
            <div class="pp-normal-label">e. Religion</div>
            <div class="pp-normal-label">f. Civil Status</div>
            <div class="pp-normal-label">g. Spouse and children’s names</div>
            <div class="pp-normal-label">h. Financial details (e.g., credit card details)</div>
            <div class="pp-normal-label">i. Valid identification cards and licenses, and</div>
            <div class="pp-normal-label">j. Current salary, basic pay, statutory obligations such as HDMF or Pag-IBIG, SSS, PhilHealth and withholding tax, and other benefits.</div>
        </div>
    </div>
    <div class="pp-normal-label">Please note that you are responsible for ensuring that all such personal data you submit through the website is accurate, complete, and up-to-date.</div>


    <!---->
    <div class="pp-header-label">
        Why do we collect your personal data?
    </div>
    <div class="pp-normal-label">
        To enable us to comply with the corporate policies and with regulatory requirements being observed by ecommerce Philippines as a controller, processor, and third party, ecommerce Philippines must collect, uses, store, and retains your data when it is reasonable and necessary for a declared and specific purpose.
    </div>
    <div class="pp-normal-label">
        We are using your data for any of the following purposes:
    </div>
    <div class="pp-indented-label">
        <div class="pp-normal-label">a.	Personal information of our Customers</div>
        <div class="pp-normal-label">b.	Supplying our products and services</div>
        <div class="pp-normal-label">c.	After sales and services</div>
        <div class="pp-normal-label">d.	Improving the quality of the planning/research and development of our products  </div>
        <div class="pp-normal-label">e.	Responding to requests from our Customers</div>
        <div class="pp-normal-label">f.	Providing information about our products and/or services</div>
        <div class="pp-normal-label">g.	Organization of our sales campaigns and other events (e.g. sending out invitations)</div>
        <div class="pp-normal-label">h.	Surveys and product monitors</div>
        <div class="pp-normal-label">i.	Management of the access to our premises.</div>
    </div>
    <!---->

    <!---->
     <div class="pp-header-label">
        Joint Use of Personal Information:  
    </div>
    <div class="pp-normal-label">
        ecommerce may, within the scope of the above-described purposes, jointly use the collected personal information with our group companies. When the joint use is with third parties outside the ecommerce group companies, we will inform the data subject about the scope, purpose, and other necessary items via our website or by other means.
    </div>
    <div class="pp-indented-label">
        <div class="pp-normal-label">1.	Categories of jointly used personal information – name, address, phone, and other contact information, other personal information for the above-prescribed purposes including sales information related to our products/services, installation or maintenance related information, etc.</div>
        <div class="pp-normal-label">2.	Entities jointly using the personal information</div>
        <div class="pp-normal-label extra-indent">Group Companies in Japan (Japanese)</div>
        <div class="pp-normal-label extra-indent">Group Companies in Other Countries</div>
        <div class="pp-normal-label">3.	Responsible entity</div>
        <div class="pp-normal-label extra-indent bold">ecommerce Industries, Ltd. </div>
    </div>
    <!---->

    <!---->
    <div class="pp-header-label">
        Disclosure of Personal Information to Third Parties:
    </div>
    <div class="pp-normal-label">
        To the extent necessary for processing personal information, ecommerce may disclose personal information to our subcontractors. We require our contractors, through a Non-Disclosure Agreement (NDA), to secure and keep your information confidential and we do not allow them to disclose your information further to others, or to use it for their own purposes.
    </div>
    <div class="pp-normal-label">
        Your information may also be disclosed to government entities pursuant to and in compliance with applicable laws and regulations, subpoenas or court order.
    </div>
    <div class="pp-normal-label">
        In addition, disclosure to third parties without the data subject’s consent may occur in cases prescribed by law, in cases necessary to protect the life and/or the property of human beings, and in cases where the improvement of public health, healthy upbringing of children, cooperation with the police, court or other public bodies make it necessary.
    </div>
    <!---->
    
    <!---->
    <div class="pp-header-label">
        Period for Storing Personal Information
    </div>
    <div class="pp-normal-label">
        ecommerce stores personal information for the period necessary to achieve the purpose of obtaining the personal information, provided, however, that if laws require differently, such period will be set in accordance with the laws.
    </div>
    <!---->
    
    <!---->
    <div class="pp-header-label">
        Compliance with Laws on the Protection of Personal Information
    </div>
    <div class="pp-normal-label">
        ecommerce will comply with this Privacy Policy, our other internal rules, and applicable laws and guidelines on the protection of personal information.
    </div>
    <!---->
    
    <!---->
    <div class="pp-header-label">
        Security Measures to Protect Personal Information
    </div>
    <div class="pp-normal-label">
        ecommerce has a management system and implements appropriate security measures in order to maintain integrity and security and prevent unauthorized access, loss, manipulation or leaks etc of personal information. Furthermore, upon subcontracting the processing of personal information, we make efforts to protect such personal information by selecting subcontractors who handle personal information appropriately and by prescribing the necessary measures to the subcontractor for the appropriate data management.
    </div>
    <!---->
    
    <!---->
    <div class="pp-header-label">
        Continuous Improvement
    </div>
    <div class="pp-normal-label">
        ecommerce regularly reviews and seeks to improve our efforts on the protection of personal information.
    </div>
    <!---->

     
    <!---->
    <div class="pp-header-label">
        Processing Personal Information of European Union Residents
    </div>
    <div class="pp-normal-label">
        With regard to the personal data of the data subject residing in the European Union, ecommerce will properly respond to requests from data subjects based on the right of access to the personal data, the right to correction, addition or erasure, the right to discontinuation of use, the right to data portability, the right to object, the right not to be subject to a decision based solely on automated processing, and the right to withdraw consent.
    </div>
    <div class="pp-normal-label">
        ecommerce Group may transfer personal data of European Union residents to countries not recognized by the EU Commission as a country having an adequate level of protection; however, in such case, ecommerce and ecommerce Group companies will appropriately handle such personal data of EU residents in accordance with the appropriate safeguards set forth in General Data Protection Regulation (e.g. upon conclusion of Standard Contractual Clauses, and other adequate safeguards). Furthermore, please note that data subjects residing in the European Union may lodge complaints to the supervisory authority with regard to the processing of personal data by ecommerce.
    </div>
    <!---->

     
    <!---->
    <div class="pp-header-label">
        Links to other Websites
    </div>
    <div class="pp-normal-label">
        Our website contains links, which may lead you to other websites beyond our control and not covered by this Privacy Policy. If you access other sites using the links provided, the operators of those sites may collect information from you, which may be used by them in accordance with their own privacy policy. We are not responsible for the protection and privacy of any personal information that third parties may collect, store and use through their website. Therefore, you should exercise caution and carefully study the privacy policy of each website you visit.
    </div>
    <!---->

    <!---->
    <div class="pp-header-label">
        Logs Collection
    </div>
    <div class="pp-normal-label">
        Your personal information may be collected by our logging processes in case of logical and physical access to our systems and/or premises. When necessary, personal information may be retrieved for security purposes.
    </div>
    <!---->

    <!---->
    <div class="pp-header-label">
        Personal Data Retention and Disposal
    </div>
    <div class="pp-normal-label">
        We keep your personal data only for as long as necessary:
    </div>
    <div class="pp-indented-label">
        <div class="pp-normal-label">1.	for the fulfillment of the declared, specified, and legitimate purposes provided above, or when the processing relevant to the purpose has been completed or terminated;</div>
        <div class="pp-normal-label">2.	for the establishment, exercise or defense of legal claims; or</div>
        <div class="pp-normal-label">3.	for other business purposes, that are consistent with standards established or within the purview of applicable laws and regulations.</div>
    </div>
    <div class="pp-normal-label">
        Thereafter, your personal data shall be disposed or discarded in a secure manner that would prevent further processing, unauthorized access, or disclosure to any other party or the public.
    </div>
    <!---->

    <!---->
    <div class="pp-header-label">
        Controlling your Personal Information
    </div>
    <div class="pp-normal-label">
        You may request for a copy of your personal information in our possession, or have it corrected if you believe that it is inaccurate or incomplete. If you wish to request for a copy of your personal data or have it corrected or deleted, please reach out to us through our contact information found below. We will promptly respond to your request.
    </div>
    <!---->

    <div class="pp-normal-label bold" style="margin-bottom: 0;">Data Protection Officer</div>
    <div class="pp-normal-label" style="margin-bottom: 0;">
        <span class="bold">Tel. No.: </span>
        <span>318-6800 loc. 5201</span>
    </div>
    <div class="pp-normal-label" style="margin-bottom: 0;">
        <span class="bold">Email: </span>
        <span class="text-primary">ecommerceDPO@ecommerce.com.ph</span>
    </div>
    <div class="pp-normal-label">
        <span class="bold">Address: </span>
        <span>18F Exxa Tower, Bridgetowne, C-5 Road, Brgy. Ugong Norte, Quezon City</span>
    </div>
    <div class="pp-normal-label">ecommerce reserves the right to revise or modify this Privacy Policy as necessary    </div>

</div>