:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}

.project-name {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}